/* canvas game
--------------------------------*/
canvas {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 50vh;
}

/* body
--------------------------------*/

body 
{
  background-color: brown;
  font-family: 'Share Tech Mono', monospace;
}

/* buttons
--------------------------------*/

.buttonwrapper {
  text-align: center;
  padding-top: 0px;
  margin-top: 10px;
}

.button {
  position: absolute;
}

